.filmpagina {
    display: grid;
    grid-template-columns: 20em 20em  ;
}
.film-info {
    display: grid;
    color:gold;
    column-gap: 4em;
    position: relative;
    top: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    grid-template-columns: 10em 10em 10em;
} 
aside {
    position: relative;
    top: 1em;
    left: 22em;
    font-size: 150%;
    white-space: nowrap;
}
.productie-info {
  font-size: 25px;
}
strong {
    font-size:larger;
}
.hoofdrollen {
      position: relative;
      left: 11em;
}
.trailer-en-beschrijving {
    display: grid;
    position: relative;
    grid-template-columns: 25em 35em;
    top: 5em;
    padding-bottom: 7em;
}
.film-beschrijving {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    left: 11em;
    font-size: 22px;
    display: inline;
    white-space: nowrap;
}
.ruimte-onderaan {
    padding-bottom: 10em;   
  }